* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html {
    -webkit-tap-highlight-color: transparent; 
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(197, 227, 236, 0.589);
}

h1 strong {
    color: #4fc04f;
}

.main-keyboard {
    display: flex;
    flex-direction: row;
    background-color: rgb(63, 63, 63);
    padding: 24px;
    border-radius: 20px;
    margin-top: 100px;
}

.keyboard-branding {
    display: flex;
    font-size: 28px;
    color: white;
}

.keyboard-keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hidden-keys {
    display: none;
}

.hidden-notes {
    display: none;
}

.learn {
    color: rgb(212, 212, 212);
    font-size: 12px;
}

.keys .white-key {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.keys .black-key {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.notes {
    margin-bottom: 20px;
    color: rgb(141, 141, 141);
    text-transform: uppercase;
}

.white-key span {
    margin-bottom: 40px;
}

.black-key span {
    margin-bottom: 40px;
}

.white-key:hover {
    background-color: black
}

.keyboard-functions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
    padding-top: 0px;
    padding-bottom: 4px;
    width: 280px;
    gap: 20px;
    align-items: flex-start;
    color: white;
}

.volume-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.volume-range {
    accent-color: white;
}

.metronome-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;   
}

.metronome-range {
    accent-color: white;
}

.metronome-first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.metronome-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.metronome-count {
    width: 22px;
}

.play-metronome {
    background-color: transparent;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.play-metronome box-icon {
    margin-top: 3px;
}

.play-metronome:active {
    transform: scale(1.1);
}

.key-tones {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#show-keys {
    width: 37px;
    height: 12px;
    align-items: center;
    margin-top: 3px;
    cursor: pointer;
    outline: none;
    background-color: rgb(12, 12, 12);
    position: relative;
    border-radius: 20px;
    appearance: none;
}

#show-keys::before {
    content: "";
    height: 12px;
    width: 20px;
    left: 10px;
    top: 0;
    border-radius: inherit;
    position: absolute;
    background-color: rgb(105, 105, 105);
    transform: translateX(-50%);
    transition: all .2s ease;
}

#show-keys:checked::before {
    left: 27px;
    background-color: rgb(255, 255, 255)
}

.keys-notes {
    display: flex;
    text-align: center;
    gap: 8px;
}

.keys {
    display: flex;
    justify-content: center;
    list-style: none;
}

.keys li {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
}

.keys .key {
    display: flex;
    list-style: none;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.keys .black-key {
    width: 44px;
    color: white;
    height: 260px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#303030 96%, #000 4%)
}

.keys .white-key {
    width: 72px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background: linear-gradient(#fff 96%, #eee 4%);
    align-items: center;
}

.keys .white-key:active {
    background-color: none;
}

.white-key.active {
    background: linear-gradient(to bottom, #fff 15%, #bdbdbd 85%);
    box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.215);
}

.keys .black-key:active {
    background-color: none;
}

.black-key.active {
    background: linear-gradient(to bottom, #303030 10%, rgb(117, 117, 117) 90%);
    box-shadow: inset -5px -5px 8px rgba(0, 0, 0, 0.215);
}

#e-tone, #k-tone {
    border-radius: 8px 0px 8px 8px;
}

#f-tone, #l-tone {
    border-radius: 0px 8px 8px 8px;
}

.key-tones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

.key-tones input {
    width: 24px;
    height: 24px;
}

.tutorial-controls, .songbook-controls {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.tutorial-controls input, .songbook-controls input {
    font-size: 12px;
    padding: 4px;
}

.open-tutorial, .open-songbook {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.459);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.open-tutorial:active {
    background-color: #4fc04f;
}

.songbook {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.songs li:hover {
    background-color: #4fc04f;
}

.songs li a:hover {
    color: black;
}

.songs {
    display: block;
    list-style: none;
    height: 104px;
    width: 240px;
    overflow-y: auto;
}

.hide-songbook {
    display: none;
}

.songs::-webkit-scrollbar {
    width: 8px;
}

.songs::-webkit-scrollbar-track {
    background: black;
    border-radius: 4px 4px 4px 4px;
}

.songs::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px 4px 4px 4px;
}

.songs li a {
    text-decoration: none;
    color: white;
}

.hidden-songs {
    display: none;
}

.changebg-songs {
    background-color: #4fc04f;
    color: black;
}

.songbook-modal {
    display: none;
    flex-direction: row;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
}

.tutorial-modal{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    width: 76%;
    padding: 60px;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.960);
    color: white;
    animation: from-top .8s backwards;
}

.tutorial-modal h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: rgb(170, 170, 170);
}

.tutorial-modal h2 {
    text-align: justify;
    font-size: 28px;
    font-weight: 400;
    color: rgb(170, 170, 170);
}

.tutorial-modal h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.tutorial-modal p {
    text-align: justify;
    font-size: 20px;
}

.close-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: 36px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: white !important;
    cursor: pointer;
    text-shadow: 1px 2px 20px black;
    height: 40px;
    width: 40px;
    z-index: 500;
}

.close-btn:hover {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    transform: scale(1.1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffab62;
    gap: 4px;
    width: 100%;
    padding: 12px;
    height: 32px;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.466);
}

footer p {
    font-size: 12px;
    color: white;
}

@keyframes from-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes from-right {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes from-bottom {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}